<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header-layout">
          <div class="logo">
            <span class="logo-item"></span>
          </div>
          <ul class="nav">
            <li><a href="">Home</a></li>
            <li><a href="">Browse</a></li>
            <li><a href="">Tutorial</a></li>
          </ul>
          <div class="header-buttons">
            <a href="" class="header-button"><button>Log In</button></a>
            <a href="" class="header-button"><button>Sign Up</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="hero-background">
        <canvas></canvas>
      </div>
      <div class="container">
        <div class="hero-inner">
          <div class="hero-layout">
            <div class="hero-left-col">
              <div class="hero-title-group">
                <!-- prettier-ignore -->
                <h1 class="hero-title">Have fun in a club<br>of shaders</h1>
                <h2 class="hero-subtitle">
                  Play with glsl shaders in real time
                </h2>
                <a href="" class="hero-button"
                  ><button>Browse<span class="hero-button-icon"></span></button
                ></a>
              </div>
              <div class="hero-user-group">
                <div class="hero-user-caption">
                  or <span>become</span> a citizen
                </div>
                <div class="hero-user-buttons">
                  <a href="" class="hero-user-button"
                    ><button>Log In</button></a
                  >
                  <a href="" class="hero-user-button"
                    ><button>Sign Up</button></a
                  >
                </div>
              </div>
            </div>
            <div class="hero-right-col">
              <div class="hero-canvas-dots"></div>
              <div class="hero-canvas-container">
                <canvas></canvas>
              </div>
              <div class="hero-canvas-switch">
                <div class="hero-canvas-switch-item"></div>
                <div class="hero-canvas-switch-item"></div>
                <div class="hero-canvas-switch-item active"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="featured">
        <h3 class="featured-title">Featured</h3>
        <div class="featured-layout">
          <div class="featured-item"></div>
          <div class="featured-item"></div>
          <div class="featured-item"></div>
        </div>
        <a href="#" class="featured-link"
          >View all <span class="fetured-link-icon"></span
        ></a>
      </div>
      <div class="featured">
        <h3 class="featured-title">Newest</h3>
        <div class="featured-layout">
          <div class="featured-item"></div>
          <div class="featured-item"></div>
          <div class="featured-item"></div>
        </div>
        <a href="#" class="featured-link"
          >View all <span class="fetured-link-icon"></span
        ></a>
      </div>
    </div>
    <div class="footer"><div class="container">Made by Mfecane</div></div>
  </body>
</html>
