.icon {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.icon-vertical-dots {
  mask-image: url(assets/vertical-dots.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.icon-arrow-up {
  mask-image: url(assets/arrow-up.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.icon-burger {
  mask-image: url(assets/burger.svg);
}

.react-codemirror2 {
  flex: 2 1 auto;
}

.CodeMirror {
  min-height: 100%;
}

.search-bar:before {
  mask-image: url(assets/glass.svg);
  background-color: white;
  width: 22px;
  height: 22px;
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}
